.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url(../assets/img/bg3.jpg) no-repeat center center;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 50px auto 0;
  width: 586px;
  height: 700px;
  background-color: #cb9898;
  border: 3px solid #4e2424;
}

.container__title {
  color: #4e2424;
}
.canvas {
  width: 100%;
  height: auto;
}

.btn {
  width: 120px;
  height: 40px;
  margin: 0 80px;
  font-weight: 700;
  background-color: #7a4b4b;
  color: #301717;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.footer__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cb9898;
  opacity: .6;
}
.footer-content {
  font-size: 24px;
  font-weight: 700;
  color: #4e2424;
}
.icon:hover {
  opacity: 0.5;
}