:root {
	--color-primary: #231193;
}

.body {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: #f4f3f8;
}
.main {
	flex-grow: 1;
}
.header__container,
.main__container,
.footer__container  {
	margin: 0 auto;
	padding: 20px 50px;
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header,
.footer {
	background-color: #dcdaf1;
}
.header__container {
	flex-wrap: wrap;
}
.main__container {
	flex-wrap: wrap;
	justify-content: center;
}

/*  main */
.card {
	margin: 10px;
	width: 350px;
	height: 250px;
	background-color: antiquewhite;
	box-shadow: 5px 5px 15px gray;
}
.card__img {
	padding: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

/* header */
.header__title {
	margin: 0 30px;
	color: var(--color-primary);
	flex: 0 1 200px;
}

.search__box {
	display: flex;
	justify-content: flex-end;
	flex: 1 0 300px;
	margin: 16px 0;
}
.form__search{
	width: 280px;
}
.input__search {
	width: 100%;
	height: 45px;
	padding-left: 16px;
	color: #dd931e;
	letter-spacing: 1.6px;
	border: 2px solid var(--color-primary);
	border-right: none;
	border-radius: 8px 0 0 8px;
	outline: none;
}
.input__search::placeholder {
	color: #bbb4fa;
}
.btn {
	width: 45px;
	height: 45px;
	background-color: #bbb4fa;
	border-top: 2px solid var(--color-primary);
	border-right: 2px solid var(--color-primary);
	border-bottom: 2px solid var(--color-primary);
	border-left: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
}

.btn__search::before {
	content: url(../assets/svg/icon-search.svg);
}

.btn__close::before {
	content: url(../assets/svg/icon-close.svg);
}

.line	{
	height: 2px;
	width: 100%;
	background-color: var(--color-primary)
}

/* footer */
.footer-content {
	color: var(--color-primary);
	font-weight: 700;
}


@media (max-width: 760px) {
	.header__container {
		justify-content: center;
	}
	.search__box {
		justify-content: center;
	}
	.header__title {
		margin-right: 0;
	}
}