/*использован less*/
@font-face {
  font-family: Forum-Regular;
  src: url(../assets/fonts/Forum-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Inter-Regular;
  src: url(../assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}
/* #0C0C0E цвет фона header и footer*/
/* #ffffff цвет основного фона*/
/* ffffff цвет текста в header и footer*/
/* #0C0C0E дополнительный цвет текста*/
/* #000000 цвет текста*/
/* #121215 второй цвет градиента для Welcom*/
/* #bb945f дополнительный выделяющий цвет*/
/* #8E8E8E цвет плайсхолдера*/
* {
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container .item {
  list-style: none;
}
.container .fs-base {
  font-size: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  line-height: 50px;
  color: #ffffff;
  background: #0c0c0e;
}
.header-container .link {
  color: #ffffff;
  text-decoration: none;
}
.header-title {
  flex: 1 0 294px;
  padding: 20px;
  font-family: 'Forum-Regular', serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.header-items {
  display: inline-flex;
  flex: 1 0 584px;
  justify-content: space-between;
}
.header-item {
  margin-left: 30px;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.header-icon {
  margin: 0 20px;
}
